<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/todo.css">
</head>

<body>
    <!-- <h1>Todos</h1>
    <ul>
        <% todos.forEach( el=> { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? ' completed' : 'not'
                    %>'><%= el.todo %></span>
                <span class='del'> Delete </span>
            </li>
            <% }) %>
    </ul> -->
    <!-- <h2>
        <%= user.userName %> has <%= left %> things left to do.
    </h2>
    <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Enter Todo Item" name='todoItem'>
        <input type="submit">
    </form> -->
    <!-- <a href="/logout">Logout</a> -->

    <div class="container">
        <div
            class="todo-container">
            <div class="todo-header">
                <h1 class="">
                    ToDos
                </h1>
                <h4 class="">
                    Welcome back! <%= user.userName %> has <%= left %> things left to do.
                </h4>
            </div>
            <div class="">
                    <form action=" /todos/createTodo" method="POST" class="signup-form">
                        <div class="input-container">
                            <input type="text" class="form-control"
                                name="todoItem" placeholder="Enter Todo Item">
                        </div>
                        <div class="">
                            <button type="submit" class="btn btn-primary">
                                Submit
                            </button>
                        </div>
                    </form>
            </div>
            <div class="todoItem-container">
                <ul class="">
                    <% todos.forEach( el=> { %>
                        <li class='todoItem' data-id='<%=el._id%>'>
                            <span class='<%= el.completed === true ? 'completed' : 'not' %>'>
                                <%= el.todo %>
                            </span>
                            <div class="button-container">
                                <button
                                    class='del btn btn-danger'>
                                    Delete
                                </button>
                            </div>
                        </li>
                        <% }) %>
                </ul>
            </div>
            <div class="">
                <!-- <a href="/logout">
                    <button class="btn btn-secondary">
                        Logout
                    </button>
                </a>
            </div> -->
        </div>
    </div>

    <script src="../js/main.js"></script>
</body>

</html>